# =========================
# ENV FILES
# =========================
.env
.env.*
!.env.example

# =========================
# NODE
# =========================
node_modules/
dist/
dist-ssr/

# =========================
# JAVA / SPRING
# =========================
.gradle/
build/
out/
*.class
*.jar
*.war
*.log

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# TEST / CACHE
# =========================
coverage/
.cache/

# =========================
# TEMP
# =========================
tmp/
temp/